Importamos librerias y definimos variables base para facilitar el entendimiento

In [1]:
import pandas as pd

RAW_PATH = "../data/raw" # Indica el directorio donde se encuentran los datos sin transformar
PROCESSED_PATH = "../data/processed" # Indica el directorio donde se guardar√°n los datos transformados

Extraemos los CSV obtenidos de Kaggle

In [2]:
# Definimos una funci√≥n para extraer datos de un archivo CSV
def extract_csv_data(data):
    path = RAW_PATH + "/" + data # Concatenamos el directorio con el nombre del archivo
    return pd.read_csv(path)

# Definimos una funci√≥n para extraer datos de un archivo JSON
def extract_json_data(data):
    path = RAW_PATH + "/" + data
    # Como el archivo JSON tiene m√∫ltiples l√≠neas, usamos lines=True
    return pd.read_json(path, lines=True)

Revisamos el resto de estado de los dataset

In [3]:
print("Dataset games.csv")
extract_csv_data("games.csv")

Dataset games.csv

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
0,13500,Prince of Persia: Warrior Within‚Ñ¢,2008-11-21,True,False,False,Very Positive,84,2199,9.99,9.99,0.0,True
1,22364,BRINK: Agents of Change,2011-08-03,True,False,False,Positive,85,21,2.99,2.99,0.0,True
2,113020,Monaco: What's Yours Is Mine,2013-04-24,True,True,True,Very Positive,92,3722,14.99,14.99,0.0,True
3,226560,Escape Dead Island,2014-11-18,True,False,False,Mixed,61,873,14.99,14.99,0.0,True
4,249050,Dungeon of the ENDLESS‚Ñ¢,2014-10-27,True,True,False,Very Positive,88,8784,11.99,11.99,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50867,2296380,I Expect You To Die 3: Cog in the Machine,2023-09-28,True,False,False,Very Positive,96,101,22.00,0.00,0.0,True
50868,1272080,PAYDAY 3,2023-09-21,True,False,False,Mostly Negative,38,29458,40.00,0.00,0.0,True
50869,1402110,Eternights,2023-09-11,True,False,False,Very Positive,89,1128,30.00,0.00,0.0,True
50870,2272250,Forgive Me Father 2,2023-10-19,True,False,False,Very Positive,95,82,17.00,0.00,0.0,True
50871,2488510,FatalZone,2023-10-23,True,False,False,Very Positive,88,144,4.00,0.00,0.0,True

In [4]:
print("Dataset recommendations")
extract_csv_data("recommendations.csv")

Dataset recommendations

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id
0,975370,0,0,2022-12-12,True,36.3,51580,0
1,304390,4,0,2017-02-17,False,11.5,2586,1
2,1085660,2,0,2019-11-17,True,336.5,253880,2
3,703080,0,0,2022-09-23,True,27.4,259432,3
4,526870,0,0,2021-01-10,True,7.9,23869,4
...,...,...,...,...,...,...,...,...
41154789,633230,0,0,2021-02-15,True,41.0,1606890,41154789
41154790,758870,8,0,2019-07-18,False,8.0,1786254,41154790
41154791,696170,3,10,2018-03-26,False,2.0,6370324,41154791
41154792,696170,0,0,2018-06-11,True,4.0,1044289,41154792
41154793,1089980,2,0,2020-09-16,True,14.0,13971935,41154793

In [5]:
print("Dataset users")
extract_csv_data("users.csv")

Dataset users

           user_id  products  reviews
0          7360263       359        0
1         14020781       156        1
2          8762579       329        4
3          4820647       176        4
4          5167327        98        2
...            ...       ...      ...
14306059   5047430         6        0
14306060   5048153         0        0
14306061   5059205        31        0
14306062   5074363         0        0
14306063   5081164         0        0

[14306064 rows x 3 columns]

In [6]:
print("Dataset game_metadata")
extract_json_data("games_metadata.json")

Dataset game_metadata

,app_id,description,tags
0,13500,Enter the dark underworld of Prince of Persia ...,"[Action, Adventure, Parkour, Third Person, Gre..."
1,22364,,[Action]
2,113020,Monaco: What's Yours Is Mine is a single playe...,"[Co-op, Stealth, Indie, Heist, Local Co-Op, St..."
3,226560,Escape Dead Island is a Survival-Mystery adven...,"[Zombies, Adventure, Survival, Action, Third P..."
4,249050,Dungeon of the Endless is a Rogue-Like Dungeon...,"[Roguelike, Strategy, Tower Defense, Pixel Gra..."
...,...,...,...
50867,2296380,,[]
50868,1272080,,[]
50869,1402110,,[]
50870,2272250,Embark on a journey into the darkest nightmare...,"[Early Access, FPS, Action, Retro, First-Perso..."
50871,2488510,,[]

Transformaci√≥n de los datos:
Al revisar los datos tras extraerlos, observamos que games_metada.json tiene la columna "tags" una lista delimitada por [], transformamos para que no aparezcan los [] y eliminamos las lineas en las que tanto "description" y "tags" est√©n vac√≠as

In [7]:
#Definimos una funci√≥n para transformar el archivo json a un formato v√°lido
def transfomr_json(data):
    # Primero, normalizamos la columna "tags", eliminando los caracteres no deseados
    data["tags"] = data["tags"].astype(str).str.replace("[", "").str.replace("]", "").str.replace("'", "").str.replace('"', "")
    # Luego, eliminamos los registros que no tienen ni descripci√≥n ni etiquetas
    data = data[(data["description"].str.strip() != "") & (data["tags"] != "")]
    return data

Comprobamos que el resultado de la transformaci√≥n deseada devuelve los datos tal y como queremos

In [8]:
df = extract_json_data("games_metadata.json")
transfomr_json(df)

,app_id,description,tags
0,13500,Enter the dark underworld of Prince of Persia ...,"Action, Adventure, Parkour, Third Person, Grea..."
2,113020,Monaco: What's Yours Is Mine is a single playe...,"Co-op, Stealth, Indie, Heist, Local Co-Op, Str..."
3,226560,Escape Dead Island is a Survival-Mystery adven...,"Zombies, Adventure, Survival, Action, Third Pe..."
4,249050,Dungeon of the Endless is a Rogue-Like Dungeon...,"Roguelike, Strategy, Tower Defense, Pixel Grap..."
5,250180,"‚ÄúMETAL SLUG 3‚Äù, the masterpiece in SNK‚Äôs emble...","Arcade, Classic, Action, Co-op, Side Scroller,..."
...,...,...,...
50840,2515240,"This is an indie horror from the first person,...","Horror, Atmospheric, Psychological Horror, Adv..."
50845,2455060,"In the rogue action game ""Taboo Trial"", you wi...","RPG, Indie, Nudity, Action Roguelike, Female P..."
50847,1138640,"Build better, together üè° Hometopia is a seriou...","Early Access, Life Sim, City Builder, Immersiv..."
50857,1687000,Seiji Maruyama is a middle-aged yakuza recentl...,"Side Scroller, Beat em up, Sandbox, Martial Ar..."
50870,2272250,Embark on a journey into the darkest nightmare...,"Early Access, FPS, Action, Retro, First-Person..."

Cargamos todos los datos en la carpeta processed para comenzar con el an√°lisis

In [9]:
#Definimos una funcion para cargar los datos transformados en formato csv al directorio de salida
def load_csv_data(df, path):
    df.to_csv(path, index=False)

Realizamos todas las operaciones por cada fichero y lo guardamos en el directorio de salida "data\processed"

In [ ]:
if __name__ == "__main__":
    df_games_md = extract_json_data("games_metadata.json")
    df_games = extract_csv_data("games.csv")
    df_recommendations = extract_csv_data("recommendations.csv")
    df_users = extract_csv_data("users.csv")
    df_games_md = transfomr_json(df_games_md)
    df_games_full = df_games.merge(df_games_md, on="app_id", how="left")
    df_reviews = df_recommendations.merge(df_users, on="user_id", how="left")


    load_csv_data(df_games_full, PROCESSED_PATH + "/dataset_games_full.csv")
    load_csv_data(df_reviews, PROCESSED_PATH + "/dataset_reviews.csv")
    load_csv_data(df_all, PROCESSED_PATH + "/dataset_all.csv")
# Definimos una funci√≥n para extraer datos de un archivo CSV